<div ng-controller='pendingStationsController' class="stations-page">
    <div class="header-container">
        <div>
            <img src="icon.png" height=115px; class="icon">
        </div>
        <div>
            <h1>Midwest Application Stations</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3 menu">
                <div class="menu-item"><a href="http://willshare.com/cs495/admin/frontend/#/select">Admin Panel</a></div>
                <div class="menu-item"><a href="http://willshare.com/cs495/MidwestRadioPlayer/frontend/#/" class="stations">Stations</a></div>
                <div class="menu-item"><a href="http://willshare.com/cs495/MidwestRadioPlayer/frontend/#/popular" class="popular">Popular</a></div>
                <div class="menu-item active"><a href="http://willshare.com/cs495/MidwestRadioPlayer/frontend/#/first" class="first">First</a></div>
            </div>
            <div class="col-9 filters">


                <div class="col-6 status-container">
                    <h1>Current First Station: {{selectStation}}</h1>

                    <select ng-model="mySelect" ng-change="showSelectValue(mySelect)" ng-options="station.long_name for station in activeStations">
                    </select>
                    <button ng-click="saveNewStation()" >Save First Station</button>
                </div>


            </div>
        </div>
    </div>
