<div ng-controller='pendingStationsController' class="stations-page">
  <div class="header-container">
    <div>
      <img src="icon.png" height=115px; class="icon">
    </div>
    <div>
      <h1>Midwest Application Stations</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-3 menu">
        <div class="menu-item"><a href="http://willshare.com/cs495/admin/frontend/#/select">Admin Panel</a></div>
        <div class="menu-item active"><a href="http://willshare.com/cs495/MidwestRadioPlayer/frontend/#/" class="stations">Stations</a></div>
        <div class="menu-item"><a href="http://willshare.com/cs495/MidwestRadioPlayer/frontend/#/popular" class="popular">Popular</a></div>
        <div class="menu-item"><a href="http://willshare.com/cs495/MidwestRadioPlayer/frontend/#/first" class="first">First</a></div>
      </div>
      <div class="col-9 filters">
          <div class="col-6 status">
            <h2>Status:
              <button><a href="#/">Active</a></button>
              <a href="#/pending"><button class="current-status">Pending</button></a>
              <button><a href="#/deleted">Deleted</a></button></h2>
          </div>

          <div class="col-6 status-container">
            <h2>Search: <input type="search" ng-model="searchKeyword"><button class="add-station-btn" ng-click="showAddStation()">Add Station</button></h2>
          </div>

          <div class="filter-container">
            <h2>Filter By:</h2>
            <div class="col-4">
              <h3 ng-click="myFuncGenre()">Genre<i ng-show="showicon5" class="fa fa-caret-down" aria-hidden="true"></i><i ng-show="showicon6" class="fa fa-caret-right" aria-hidden="true"></i></h3>
              <div ng-show="showGenre" ng-repeat="genre in genreArray" class="dropdown">
                <input type="checkbox" ng-checked="genre.isClicked" ng-change="addGenre(genre)" ng-model="myValue" />{{genre}} <br />
              </div>
            </div>

            <div class="col-4">
              <h3 ng-click="myFuncOwnership()">Ownership<i ng-show="showicon3" class="fa fa-caret-down" aria-hidden="true"></i><i ng-show="showicon4" class="fa fa-caret-right" aria-hidden="true"></i></h3>
              <div ng-show="showOwnership" ng-repeat="owner in typeArray" class="dropdown">
                <input type="checkbox" ng-checked="owner.isClicked" ng-change="addOwnership(owner)" ng-model="myValue"> {{owner}}<br/>
              </div>
            </div>

            <div class="col-4">
              <h3 ng-click="myFuncGeographical()">Geographical<i ng-show="showicon2" class="fa fa-caret-down" aria-hidden="true"></i><i ng-show="showicon1" class="fa fa-caret-right" aria-hidden="true"></i></h3>
              <div ng-show="showGeo" ng-repeat="state in stateArray" class="dropdown">
                <input type="checkbox" ng-checked="state.isClicked" ng-change="addGeo(state)" ng-model="myValue"> {{state}}<br/>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container addStation" ng-show='addStation'>
    <div class="row">
      <div class="col-12">
        <table>
          <thead>
            <th>Frequency</th>
            <th>Name</th>
            <th>Abbreviation</th>
            <th>City</th>
            <th>State</th>
            <th>Slogan</th>
            <th>Type</th>
            <th>Genre</th>
            <th>Stream</th>
            <th>Website</th>
            <th>Save</th>
          </thead>

          <tr>
            <td><input ng-model="createNewStation.frequency" type="text" style="width:80px" required></td>
            <td><input ng-model="createNewStation.long_name" type="text" style="width:100px" required></td>
            <td><input ng-model="createNewStation.short_name" type="text" style="width:80px" maxlength="7" required></td>
            <td><input ng-model="createNewStation.city" type="text" style="width:80px" required></td>
            <td><input ng-model="createNewStation.state" type="text" style="width:30px" required></td>
            <td><input ng-model="createNewStation.slogan" type="text" style="width:120px" required></td>
            <td><input ng-model="createNewStation.type" type="text" style="width:120px" required></td>
            <td><input ng-model="createNewStation.genre" type="text" style="width:80px" required></td>
            <td><input ng-model="createNewStation.stream" type="text" style="width:80px" required></td>
            <td><input ng-model="createNewStation.website" type="text" style="width:80px" required></td>
            <td><button ng-click="createPendingStation(createNewStation)"> Pending </button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <table>
          <thead>
            <th ng-click="sortMethod('frequency')">Frequency</th>
            <th ng-click="sortMethod('long_name')">Name</th>
            <th ng-click="sortMethod('short_name')">Abbreviation</th>
            <th ng-click="sortMethod('city')">City</th>
            <th ng-click="sortMethod('state')">State</th>
            <th ng-click="sortMethod('slogan')">Slogan</th>
            <th ng-click="sortMethod('type')">Type</th>
            <th ng-click="sortMethod('genre')">Genre</th>
            <th ng-click="sortMethod('stream')">Stream</th>
            <th ng-click="sortMethod('wesbite')">Website</th>
            <th>Edit</th>
            <th>Make Active</th>
            <th>Delete</th>
          </thead>

          <tr ng-repeat="station in pendingStations |filter: searchKeyword | genre:selectedGenreData:editMode:this | state:selectedStateData:editMode:this | type:selectedTypeData:editMode:this | orderBy: orderBySearch:orderByTerm" ng-show='showActive'>
            <td><input type="text" ng-model="station.frequency" style="width:80px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required></td>
            <td><input type="text" ng-model="station.long_name" style="width:80px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required ></td>
            <td><input type="text" ng-model="station.short_name" style="width:100px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required></td>
            <td><input type="text" ng-model="station.city" style="width:80px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required></td>
            <td><input type="text" ng-model="station.state" style="width:30px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required ></td>
            <td><input type="text" ng-model="station.slogan" style="width:120px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required></td>
            <td><input type="text" ng-model="station.type" style="width:120px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required ></td>
            <td><input type="text" ng-model="station.genre" style="width:80px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required ></td>
            <td><input type="text" ng-model="station.stream" style="width:80px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required ></td>
            <td><input type="text" ng-model="station.website" style="width:80px" ng-class="{enteredStation: station.isUserEntered == 'true'}" ng-disabled="station.edit" required ></td>
            <td>
              <button ng-click="editStation(station.id)" ng-hide="!station.edit"> Edit </button>
              <button ng-click="updateStation(station)" ng-hide="station.edit"> Save </button>
            </td>
            <td><button ng-click="activateStation(station.id)" >Activate</button></td>
            <td class="delete-btn"><button ng-click="deleteStation(station.id)" > Delete </button></td>
          </tr>
        </table>
        <p>**If station has a blue background, that means a user submitted a station to be added to the radio.</p>
      </div>
    </div>
  </div>

</div>
