<div ng-controller='popularController' class="popular-page">
<h1 style="text-align:center"> Midwest Application Popular</h1>

  <div class="container">
    <div class="row">
      <div class="col-3 menu">
        <div class="menu-item"><a href="#">Admin Panel</a></div>
        <div class="menu-item"><a href="http://localhost:8888/capstone-frontend/#/" class="stations">Stations</a></div>
        <div class="menu-item active"><a href="http://localhost:8888/capstone-frontend/#/popular" class="popular">Popular</a></div>
      </div>
      <div class="col-9 filters popular">
        <h2>Search:<input type="search" ng-model="searchKeyword"></h2>
      </div>
      <div class="col-9 popular-table">
        <table>
          <thead>
            <th ng-click="sortMethod('votes')">Count</th>
            <th ng-click="sortMethod('long_name')">Name</th>
            <th ng-click="sortMethod('short_name')">Abbreviation</th>
          </thead>
            <tr ng-repeat="x in popularArray | filter: searchKeyword | orderBy: orderBySearch:orderByTerm">
                <td>{{x.votes}}</td>
                <td>{{x.long_name}}</td>
                <td>{{x.short_name}}</td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
