
<h1 style="text-align:center"> Midwest Application Stations</h1>

<div ng-controller='stationsController'>
  <div class="container">
    <div class="row">
      <div class="col-4 menu">
        <a href="#">Admin Panel</a><br>
        <a href="#" class="stations-title active">Stations</a><br>
        <a href="#">Popular</a>
      </div>
      <div class="col-8 filters">
        <form>
          <h2>Status:</h2>
            <button value="active">Active</button>
            <button value="pending">Pending</button>
            <button value="deleted">Deleted</button>

          <div>
            <h2>Filters:</h2>
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <h3 ng-click="myFuncGenre()">Genre:</h3>
                  <div ng-show="showGenre" ng-repeat="genre in genreArray">
                    <input type="checkbox" ng-model="genre"  ng-checked="true"> {{genre}}<br/>
                  </div>
                </div>

                <div class="col-4">
                  <h3 ng-click="myFuncOwnership()">Ownership:</h3>
                  <div ng-show="showOwnership" ng-repeat="owner in typeArray">
                    <input type="checkbox" ng-model="owner"  ng-checked="true"> {{owner}}<br/>
                  </div>
                </div>

                <div class="col-4">
                  <h3 ng-click="myFuncGeographical()">Geographical:</h3>
                  <div ng-show="showGeo" ng-repeat="state in stateArray">
                      <input type="checkbox" ng-model="state"  ng-checked="true"> {{state}}<br/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <table border="1">
          <tr ng-repeat="x in data">
              <td>{{x.frequency}}</td>
              <td>{{x.long_name}}</td>
              <td>{{x.short_name}}</td>
              <td>{{x.city}}</td>
              <td>{{x.state}}</td>
              <td>{{x.slogan}}</td>
              <td>{{x.type}}</td>
              <td>{{x.genre}}</td>
              <td><button> Edit </button></td>
              <td><button> Delete </button></td>
          </tr>
      </table>
    </div>
  </div>
</div>
