<div class="submit">
  <div class="background-overlay">
    <div class="container background">
      <div class="row">
        <div class="col-12">
          <h1>MIDDLETOWN MUSIC</h1>
          <hr>
          <div ng-controller='submitStationController'>
            <h2 ng-show="afterSubmit">Thanks for Submission</h2>
            <h2>Station Submission</h2>
            <form>
              Frequency: <input placeholder="91.3" ng-model="createNewStation.frequency" type="text" required><br>
              Call Letters: <input placeholder="WCRD" ng-model="createNewStation.short_name" type="text" maxlength="7" required><br>
              City: <input placeholder="Muncie" ng-model="createNewStation.city" type="text" required><br>
              State: <input placeholder="IN" ng-model="createNewStation.state" type="text" required><br>
              Slogan: <input placeholder="Always Better Radio" ng-model="createNewStation.slogan" type="text" required><br>
              <input type="submit" value="Submit" ng-click="createPendingStation(createNewStation)">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
