<!DOCTYPE html>
<html>
<head>
  <title>Station Submission Page</title>
</head>
<style>
  input{
    border: 1px solid black;
  }
</style>
<body>
  <h1>Station Submission Page</h1>
  <form>
    Frequency: <input type="text" name="frequency" required><br>
    Name: <input type="text" name="name" required><br>
    Abbreviation: <input type="text" name="abbreviation" required><br>
    City: <input type="text" name="city" required><br>
    State: <input type="text" name="state" required><br>
    Slogan: <input type="text" name="slogan" required><br>
    Type: <input type="text" name="type" required><br>
    Genre: <input type="text" name="genre" required><br>
    Stream: <input type="text" name="stream" required><br>
  </form>
</body>
</html>
