<div class="submit">
  <div class="background-overlay">
    <div class="container background">
      <div class="row">
        <div class="col-12">
          <h1>MIDDLETOWN MUSIC</h1>
          <hr>
          <div ng-controller='submitStationController'>
            <h2>Station Submission</h2>
            <form>
              Frequency: <input ng-model="createNewStation.frequency" type="text" required><br>
              Name: <input ng-model="createNewStation.long_name" type="text" required><br>
              Abbreviation: <input ng-model="createNewStation.short_name" type="text" maxlength="7" required><br>
              City: <input ng-model="createNewStation.city" type="text" required><br>
              State: <input ng-model="createNewStation.state" type="text" required><br>
              Slogan: <input ng-model="createNewStation.slogan" type="text" required><br>
              Type: <input ng-model="createNewStation.type" type="text" required><br>
              Genre: <input ng-model="createNewStation.genre" type="text" required><br>
              Stream: <input ng-model="createNewStation.stream" type="text" required><br>
              Website: <input ng-model="createNewStation.website" type="text" required><br>
              <input type="submit" value="Submit" ng-click="createPendingStation(createNewStation)">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
