/* ADMIN PANEL */
.admin-panel{
    background: linear-gradient(180deg, #9cc2fc 40%, #3586ff 80%, #1d76fc)
}

.midwest-panel{
    background: #22477e;
    color: #ffffff;
}

h1{
    margin-top: 10px;
}

a{
    color:#b57647;
}

.active a{
    color: #ffffff;
}

.admin-container{
    position: absolute;
    width: 400px;
    height: 260px;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -200px;
    background: #f8f8f8;
    text-align: center;
    border: 2px solid #3d3d3d;
}

.fa{
    margin-right: 8px;
    padding: 4px;
}

input[type=email], input[type=password]{
    padding: 12px 20px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=login]{
    background: #1d76fc;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    padding: 8px;
    text-align: center;
    width: 60px;
    margin-top: 10px;
}

input[type=login]:hover{
    background: #3f8cff;
}

.password-reset{
    font-size: 10px;
    text-align: left;
    margin-left: 110px;
}

/* ADMIN DATABASE SELECTION */

.title h1{
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
}

.database-applications .admin-title{
    font-size: 40px;
}

.db-container{
    margin-top: 60px;
}

.db-container h2{
    display: inline;
    padding: 40px;
    margin: 20px;
    background: #e7e7e7;
    border-bottom: 2px solid #000000;
    border-radius: 5px;
    text-shadow: 2px 2px #ffffff;
}

.db-container h2:hover{
    background: #dbdbdb;
}

.database-applications{
    position: absolute;
    width: 750px;
    height: 260px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -375px;
    background: #f8f8f8;
    text-align: center;
    border: 2px solid #3d3d3d;
}

/* STATIONS PAGE */
.menu a{
  text-align: center;
  border: 1px solid #000000;
  color: #e38425;
  background: #fffaf7;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu .menu-item{
  margin-top: 20px !important;
  min-width: 150px;
}

.status-container button{
  margin-left: 10px;
}

.status-container{
  padding-bottom: 10px;
}

.filters h2{
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.filters h3{
  font-size: 16px;
  background: #22477e;
  margin-bottom: 0px;
  color: #ffffff;
  padding: 5px;
  padding-left: 15px;
  margin-top: 5px;
}

.filter-container, .status-container{
  background: #f1f1f1;
  margin-bottom: 10px;
}

.filters .dropdown{
  background: #cfcfcf;
}

table{
  border: 1px solid #000000;
  background: #ffffff;
}

th{
  padding: 5px;
  border-bottom: 1px solid #000000;
  background: #22477e;
  color: #ffffff;
}

td{
  padding: 5px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

td.delete-btn{
  border-right: none;
}
